Vaults/Vault_MainBrain/Vaults/Vault_inWork_smolit/Smolit/CLI/smolit-auto-gpt-cli/autoGPT_local-GPU/models
Vaults/Vault_MainBrain/Vaults/Vault_inWork_smolit/Smolit/CLI/smolit-auto-gpt-cli/autoGPT_local-CPU/models
